<%- include('./partials/head',{style:"edicYProd", title:"Editar productos"}) %>

    <body>
        <%- include('./partials/header') %>
            <%- include('./partials/menu_arriba') %>
                <main class="lis">
                    <div class="conten">
                        <a href="register">
                            <h2>Subir Producto</h2>
                        </a>
                        <section class="formulario">
                            <form class="form" action="/products/create" method="POST">
                                <ul class="formUl">
                                    <div>
                                        <label for="nya">nombre</label>
                                        <li class="form_input"><input id="nya" type="text" name="nombre"
                                                class="form-control" value="">
                                            
                                        </li>
                                    </div>
                                    <div>
                                        <label for="descripcion">descripcion</label>
                                        <li class="form_input"><input id="descripcion" type="text" name="descripcion"
                                                class="form-control" value="">
                                            <% if (locals.errors) { %>
                                                <p>
                                                    <%= locals.errors.descripcion.msg %>
                                                </p>
                                                <%}%>
                                        </li>

                                    </div>
                                    <div>
                                        <label for="image">image</label>
                                        <li class="form_input"><input id="image" type="file" name="filename"
                                                class="form-control" value=""></li>
                                        <% if (locals.errors) { %>
                                            <p>
                                                <%= locals.errors.image.msg %>
                                            </p>
                                            <%}%>
                                    </div>
                                    <div>
                                        <label for="precio">precio</label>
                                        <li class="form_input"><input id="precio" type="number" name="precio"
                                                class="form-control" value="">
                                            <% if (locals.errors) { %>
                                                <p>
                                                    <%= locals.errors.precio.msg %>
                                                </p>
                                                <%}%>
                                        </li>
                                    </div>
                                    <p>elige una opcion</p>
                                    <div class="menuSelect">
                                        <input id="ham" type="radio" name="categoria" />
                                        <label for="ham">
                                            <p>menu hamburguesa</p>
                                        </label>
                                        <input id="veg" type="radio" name="categoria" />
                                        <label for="veg">
                                            <p>menu vegano</p>
                                        </label>
                                    </div>
                                </ul>

                                <div class="divBtn">
                                    <button type="submit" class="button">
                                        Subir producto
                                    </button>
                                    <button class="button">
                                        Eliminar producto
                                    </button>
                                </div>
                            </form>
                        </section>
                    </div>

                </main>
    </body>

    <%- include('./partials/footer') %>



        </html>