<%- include('./partials/head',{style:"edicYProd", title:"Editar producto"}) %>

<body>
    <%- include('./partials/header') %>
    <%- include('./partials/menu_arriba') %>
    <main>
        <div>
            <h2>Editando producto <%= productoEdit.nombre %> </h2>
        </div>
        <section class="formulario">
            <ul class="list1">
                <li><input type="text" name="" id="" placeholder="nombre"></li>
                <li><input type="text" name="" id="" placeholder="descripcion"></li>
                <li><input type="file" name="" id="" placeholder="imagen"></li>
                <li><input type="number" name="" id="" placeholder="precio"></li>
                <form ...>

                    <p>elige una opcion</p>
                    <p><input type="radio" name="estacion" value="con carne"/> menu Hamburguesas</p>
                    <p><input type="radio" name="estacion" value="vegano"/> menu vegano </p>
                      
                 </form>
            </ul>
        </section>

        <div class="divBtn">
            <button class="button">
                Subir producto
            </button>
        </div>

    </main>
</body>


    <%- include('./partials/footer') %>