<%- include('./partials/head',{title:"Home"}) %>


<body>
	<%- include('./partials/header') %>
	<%- include('./partials/menu_arriba') %>

<section class="slider_principal">
	<h4 class="contenedor_slider">
		<ul class="slider">
		<% products.forEach((product) => { %>
			<li id="foto1">
				<img src="/images/<%= product.imagen %>">
				<p><%= product.nombre %></p>
			</li>
		<% }) %>	
		</ul>

		<ul class="menu">
			<li>
				<a href="#foto1"></a>
			</li>
			<li>
				<a href="#foto2"></a>
			</li>
			<li>
				<a href="#foto3"></a>
			</li>
			<li>
				<a href="#vegana"></a>
			</li>
		</ul>
	</h4>
</section>
<section class="pedidas">
<div class="mas_pedidas">
	<p>MAS PEDIDAS</p>
</div>
<div class="foto_pedidas">
	<ul class="lista_fotos">
		<li id="foto4">
			<img src="images/foto4.png">
		</li>
		<li id="foto5">
			<img src="images/foto5.jpg">
		</li>
		<li id="foto6">
			<img src="images/foto6.jpg">
		</li>
		<li id="vegana2">
			<img src="images/vegana2.jpg">
		</li>
		<li id="vegana3">
			<img src="images/vegana3.jpg">
		</li>
	</ul>
</div>
</section>
<section class="ofertas">
	<div class="Nuestras_ofertas">
		<p> NUESTRAS OFERTAS</p>
	</div>
	<div class="foto_oferta">
	<ul class="lista_fotos2">
		<li id="foto7">
			<img src="images/foto7.jpg">
		</li>
		<li id="foto8">
			<img src="images/foto8.jpg">
		</li>
		<li id="foto9">
			<img src="images/foto9.jpg">
		</li>
		<li id="vegana4">
			<img src="images/vegana4.jpg">
		</li>
		<li id="vegana5">
			<img src="images/vegana5.jpg">
		</li>
	</ul>
	</div>
</section>
</body>
<%- include('./partials/footer') %>

</html>
