<%- include('./partials/head',{style:"login",title:"Login"}) %>

  <body>
    <%- include('./partials/header') %>
      <%- include('./partials/menu_arriba') %>

        <main class="login">
          <article class="contendor-login">
            <div class='formLoguin'>
              <h2 id="log">Inicia Sesión</h2>
              <div>

                <h2 id="log">Login</h2>
              </div>


              <p id="log">Inicia sesión en una cuenta existente</p>
              <form class="formu" action="/user/login" method="POST">
                <p id="log"><input type="email" name="email" placeholder="Correo Electronico" class="email"></p>
                <%if (locals.errors && locals.errors.email) { %>
                  <p>
                    <%= locals.errors.email.msg %>
                  </p>
                  <%}%>
                    <p id="log"><input type="password" name="password" placeholder="Contraseña" class="password">

                      <% if (locals.errors && locals.errors.password) { %>
                        <p>
                          <%= locals.errors.password.msg %>
                        </p>
                        <%}%>
                    </p>
                    <div id="log">
                      <div class="recordar">
                        <input type="checkbox" name="recordarme"><label class="checkbox-inline">Recordarme</label>
                      </div>
                      <div class="boton" id="log">
                        <button type="submit" id="login">LOGIN</button>
                      </div>
              </form>
              <% if (locals.errorsmsg) { %>
                <p>
                  <%= locals.errorsmsg %>
                </p>
                <%}%>
                  <a href="register">
                    <h4 id="log">Crea una nueva cuenta</h4>
                  </a>
                  <h4 class="opciondos">Olvidé mi contraseña</h4>
          </article>
          </div>
        </main>
        <%- include('./partials/footer') %>
  </body>

  </html>