<%- include('./partials/head',{style:"carrito",title:"carrito"}) %>


    <body>
        <%- include('./partials/header') %>
            <%- include('./partials/menu_arriba') %>

                <section class="fonfo-pedidos">
                    <h1 class="pedidoTitulo">Hamburguesas</h1>
                    
                    <% locals.products.forEach((product)=> {%>
                        <section class="pedidos">

                                <div class="caja-1">
                                    <a href="/products/detail/<%= product.id %>">
                                        <img src="/images/<%= product.image %>" alt="Foto de Hamburguesa" width="150px" height="200px">
                                    </a>
                                </div>
                                <div class="descripcion">
                                    <h2 class="burgerdescription">Descripción</h2>
                                    <p class="burgerName">
                                        <%= product.name %>
                                    </p>
                                    <p>
                                        <%= product.description%>
                                    </p>
                                </div>
                                <div class="precio">
                                    <h2 class="burgerdescription">Precio</h2>
                                    <p class="price">
                                        <%= product.price %>
                                    </p>
                                </div>
                                <div class="cantidad">
                                    <h2 class="burgerdescription">Cantidad</h2>
                                    <p class="cant">1</p>
                                </div>
                                <div class="total">
                                    <h2 class="burgerdescription">Total</h2>
                                    <p class="price">3000$</p>
                                    
                                    
                                </div>
                                
                            </section>
                                <% }); %>
                                
                            <a href="productDetail"><button>Modificar</button></a>
                            <a href="#"><button>Pagar</button></a>
                        </section>
                        
                    </body>
                    <%- include('./partials/footer') %>
                    
                    </html>