<%- include('./partials/head',{style:"carrito",title:"Listado de productos"}) %>


    <body>
        <%- include('./partials/header') %>
            <%- include('./partials/menu_arriba') %>
            <% if (locals.products >=0 ) { %>
            <p class="sin-productos">No hay productos seleccionados</p>
            <% }else{ %>
                <section class="fonfo-pedidos">
                    <h1 class="pedidoTitulo">Hamburguesas</h1>
                  
                    
                      
                        <% locals.products.forEach((product)=> {%>
                          
                               
                            <section class="pedidos">
                            <div class="caja-1">
                                <a href="/products/detail/<%= product.id %>">
                                    <img src="/images/<%= product.image %>" alt="Foto de Hamburguesa" width="150px" height="200px">
                                </a>
                            </div>
                            <div>
                        </div>
                        <div>
                        <p class="burgerName">
                            <%= product.name %>
                        </p>
                    </div>
                                <h2 class="burgerdescription">Descripción</h2>
                                
                                <p class="description">
                                    <%= product.description%>
                                </p>
                            </div>
                            <div class="precio">
                                <h2 class="burgerdescription">Precio</h2>
                                <p class="price">
                                    $ <%= product.price %>
                                </p>
                            </div>
                            <div class="cantidad">
                                <h2 class="burgerdescription">Cantidad</h2>
                                <p class="cant">1</p>
                            </div>
                            <div class="total">
                                <h2 class="burgerdescription">Total</h2>
                                <p class="price">3000$</p>


                            </div>
                        </section>
                            <% }); %>
                            <% }; %>
                       
                  <div>
                    <% locals.products.forEach((product) => { %>
                        <a href="/products/<%= product.id %>/edit"><button>Modificar</button></a>
                    <% }); %>
                    <a href="#"><button>Pagar</button></a>
                </div>
                </section>

    </body>
    <%- include('./partials/footer') %>

        </html>
